# Disable directory browsing
Options -Indexes

# Protect sensitive files
<FilesMatch "(\.env|\.htaccess|\.env|\.htpasswd|composer\.(json|lock)|package\.json|artisan|phpunit\.xml|env\.example)$">
    Require all denied
</FilesMatch>

# Protect all hidden files
<FilesMatch "^\.">
    Require all denied
</FilesMatch>

# Rewrite Engine
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^([\s\S]*)$ index.php?/$1 [L,NC,QSA]
</IfModule>

# Disable server signature
ServerSignature Off
